{% extends 'base.html' %}
{% load static %}
{% block content %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'img/tdmu.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Ngành Hệ Thống Thông tin | Viện Kĩ Thuật Công Nghệ | Đại Học Thủ Dầu Một</div>
                            <h2 class="card-title">Nghiên Cứu Khoa Học 2021 - 2022 </h2>

                            <p class="card-text">Tên đề tài: XÂY DỰNG MÔ HÌNH HỆ TƯ VẤN TÌM VIỆC ONLINE
                                CHO SINH VIÊN TRONG TRẠNG THÁI BÌNH THƯỜNG MỚI</p>
                            <p class="card-text">GVHD: <b>Ths. Dương Thị Kim Chi</b>
                            <br>Sinh viên thực hiện: <b>Hoàng Kim Tuyến, Trần Quốc Dũng</b> | D18HT01
                            </p>
                            <p class="card-text">Hệ thống gợi ý (Recommender systems hoặc Recommendation systems)
                                là một dạng của hệ hỗ trợ ra quyết định,
                                cung cấp giải pháp mang tính cá nhân hóa mà không phải trải qua quá trình tìm kiếm phức tạp.
                                Hệ gợi ý học từ người dùng và gợi ý các sản phẩm phù hợp nhất. </p>

                            <p class="card-text">Phương pháp lọc cộng tác hay hệ thống lọc cộng tác là phương pháp phân tích dữ liệu người dùng để tìm ra mối tương quan giữa các đối tượng người dùng. Lọc cộng tác hoạt động bằng cách xây dựng một cơ sở dữ liệu, lưu trữ dưới dạng ma trận người dùng (users) - sản phẩm (items) và mỗi dòng của nó là một vectơ.

Sau đó, phân tích dữ liệu, tính toán sự tương đồng giữa các users với nhau để đưa ra gợi ý. Ý tưởng quan trọng của phương pháp này là những người dùng tương tự có xu hướng sử dụng những sản phẩm tương tự.</p>



                        </div>
                    </div>

{% endblock %}