{% extends 'base.html' %}
{% load static %}
{% block content %}
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'img/tdmu.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">Ngành Hệ Thống Thông tin | Viện Kĩ Thuật Công Nghệ | Đại Học Thủ Dầu Một</div>
                            <h2 class="card-title">Nghiên Cứu Khoa Học 2021 - 2022 </h2>

                            <p class="card-text">Tên đề tài: XÂY DỰNG MÔ HÌNH HỆ TƯ VẤN TÌM VIỆC ONLINE
                                CHO SINH VIÊN TRONG TRẠNG THÁI BÌNH THƯỜNG MỚI</p>
                            <p class="card-text">GVHD: <b>Dương Thị Kim Chi</b>
                            <br>Sinh viên thực hiện: <b>Hoàng Kim Tuyến</b> | D18HT01
                            </p>
                            <p class="card-text">Hệ thống gợi ý (Recommender systems hoặc Recommendation systems)
                                là một dạng của hệ hỗ trợ ra quyết định,
                                cung cấp giải pháp mang tính cá nhân hóa mà không phải trải qua quá trình tìm kiếm phức tạp.
                                Hệ gợi ý học từ người dùng và gợi ý các sản phẩm phù hợp nhất. </p>

                            <p class="card-text">Các website thương mại điện tử, ví dụ như sách, phim, nhạc, báo...
                                sử dụng hệ thống gợi ý để cung cấp các thông tin giúp cho người sử dụng quyết định sẽ lựa chọn sản phẩm nào.
                                Các sản phẩm được gợi ý dựa trên số lượng sản phẩm đó đã được bán,
                                dựa trên các thông tin cá nhân của người sử dụng,
                                dựa trên sự phân tích hành vi mua hàng trước đó của người sử dụng
                                để đưa ra các dự đoán về hành vi mua hàng trong tương lai của chính khách hàng đó.</p>
                            <p class="card-text"><b>Ưu điểm</b><br>
                            - Phương pháp này có khả năng dự đoán được sở thích và
                                nhu cầu của người dùng để đưa ra gợi ý các sản phẩm phù hợp
                                với từng khách hàng mà không cần hiểu sản phẩm.
                                <br>
                                - Gợi ý dựa trên trải nghiệm của người dùng tương tự khác nên có thể gợi ý
                                được những sản phẩm mới phù hợp sở thích mới.
                                <br>
                                - Phương pháp này rất phù hợp với những hệ thống lớn có nhiều đánh giá từ phía người dùng
                                <br>


                            </p>

                            <p class="card-text"><b>Nhược điểm</b><br>
                            - Không thể gợi ý nếu khách hàng chưa có dữ liệu về lịch sử tương tác mặt hàng.
                                <br>
                                - Khi lượng sản phẩm lớn và số lượng khách hàng đánh giá không nhiều thì phương pháp này không hiệu quả.
                                <br>
                                - Phương pháp này cũng không thể gợi ý được các sản phẩm mới hoặc những sản phẩm chưa được ai đánh giá.
                                <br>
                                - Phương pháp này sẽ cho độ chính xác kém nếu như sở thích của người dùng thay đổi.
                            </p>
                            <p class="card-text">Ngày nay, phương pháp này được sử dụng khá phổ biến trên các trang nền tảng lớn như Shopee, Lazada, Youtube, Amazone, . . . bởi tính đơn giản
                                và một lượng dữ liệu sẵn có từ người dùng trên các ứng dụng này.</p>


                        </div>
                    </div>

{% endblock %}